$blue: #4198c5;
$blue_darken: #4b92b7;
$grey: #818c9b;
$border: #cdcdcd;
$green: #55b183;
$black: #161718;
$cancel: #7e8998;
$blackblack: #161718;
$dark_grey: #616f82;

$bgrey: #f1f2f4;
$cgrey: #5c6c82;
$bblack: #1c1d1d;
$orange: #ec8532;
$red: #d0021b;

$shadow: 0 1px 4px 0 rgba(19, 19, 19, 0.1);
$shadowModal: 0 2px 16px 0 rgba(34, 34, 34, 0.16);
$shadowHeader: 0 2px 10px 0 rgba(22, 23, 24, 0.08);
$glass: rgba(135, 140, 147, 0.7);
